.event_type-of-room #select_typeOfRoom{
    width: 100%;
    margin-bottom: 10px;
}
.content-event{
    margin-top: 10px;
}
.woocommerce-order-received .woocommerce .woocommerce-table--order-details .wc-item-meta{
    margin-left: 0;
}
.woocommerce-order-received .woocommerce .woocommerce-table--order-details .wc-item-meta li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.woocommerce-order-received .woocommerce .woocommerce-table--order-details .wc-item-meta p{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}